.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    padding: 2rem 1rem;
    background-color: orange;
}

.body {
    background-color:green;
    position:fixed;
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    width:100%;
    height:100%;
}

.logo {
    width:80%;
}